<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="style/lay.css">
    <title>New-View Blog</title>
</head>
<body>
    <nav>
        <h1>New-view Blog</h1> 
        <div class="nav">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/create">CREATE POST</a></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>