<%- include("partials/header.ejs") %>
<h1>ABOUT PAGE</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste voluptate exercitationem voluptates iusto rem delectus, aspernatur sint ullam odio illum, quaerat nostrum nobis eos blanditiis vel! Inventore repellat expedita vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique nam quae beatae a consectetur deserunt, numquam delectus fugiat eos odio doloremque impedit ipsum ea! Enim eum amet quo ad.
Unde enim, a quae inventore eius ipsam corrupti. Ullam at hic laboriosam culpa! Similique suscipit quaerat nihil repellat architecto quisquam voluptas eaque blanditiis velit? Quo tenetur omnis eaque! Laboriosam, necessitatibus?
Autem officiis optio mollitia. Necessitatibus inventore tempora ab sunt molestiae, nemo sapiente accusamus ad quibusdam deleniti id provident consequatur ipsam vero atque debitis corrupti dolor repudiandae voluptatum, omnis architecto eligendi?
Atque, fugiat aspernatur ipsum laboriosam unde quos delectus sed repellat explicabo suscipit dicta. Nulla nesciunt maiores sit ad minus corporis dolorem quos corrupti, velit exercitationem dolorum officia. Odio, aperiam obcaecati.</p>