<%- include("partials/header.ejs") %>
<h1>Create Post</h1>
<form action="/button" method="post">
    <textarea name="post" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="post">
</form>